@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*Изменяем подсчет ширины блока*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Убераем линии и обводки*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*Обьявляем теги блочными*/
nav,
footer,
header,
aside {
  display: block;
}

/*Выравнивание шрифтов, размеров в разных браузерах.
Запрет самовольного увеличения! */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Назначение шрифта по умолчанию для тегов*/
input,
button,
textarea {
  font-family: inherit;
}

/*Убераем особенности поведения разных тегов в разных браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 20%;
  font-family: "Noto Sans";
  color: #000000;
  font-size: 14px;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1570px;
}

.wrapper {
  display: flex;
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
  box-sizing: border-box;
}

.footer {
  flex: 0 0 auto;
  background-color: green;
}

.header__container {
  padding: 60px 40px 0px 10px;
}

.header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.top-header__icons {
  display: flex;
  justify-content: space-between;
  width: 14%;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
  text-align: center;
}

.icon-header {
  padding-bottom: 10px;
}

.icon {
  height: 20px;
  padding: 5px;
}

.icon-header__burger {
  width: 20px;
}

.icon-header__search {
  width: 15px;
}

.title {
  font-weight: 400;
  font-size: 60px;
  font-family: "Train One";
  line-height: 87px;
  color: #000000;
}

.button {
  font-size: 18px;
  line-height: 24px;
  height: 42px;
  background-color: rgb(41, 136, 202);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 9px 10px;
  min-width: 9%;
  align-items: center;
}

.button:hover {
  background-color: rgb(12, 82, 136);
  transition: all 0.3s ease 0s;
}

.header__menu {
  margin: 0 auto;
}

.menu {
  text-align: center;
  padding: 30px 20px 0px 20px;
}

.menu__items {
  display: flex;
  justify-content: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.menu__item {
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  padding: 1px 5px;
}

.menu__item :hover {
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 62%;
    transition: all 0.3s ease 0s;
    padding: 20px 5px 5px;
  }
  [class*=__container] .header__top {
    height: 150px;
  }
  [class*=__container] .icon-header {
    align-self: flex-end;
  }
  [class*=__container] .button {
    align-self: flex-end;
  }
  [class*=__container] .title {
    align-self: start;
  }
  [class*=__container] .menu__items {
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 20px;
    width: 100%;
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 63%;
    padding-top: 0px;
  }
  [class*=__container] .header__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flexbox;
    row-gap: 0px;
  }
  [class*=__container] .icon-header {
    margin: 0px auto;
    -moz-column-gap: 40px;
         column-gap: 40px;
    order: 2;
  }
  [class*=__container] .title {
    padding-top: 20px;
    margin: 0px auto;
    font-size: 50px;
    order: 1;
  }
  [class*=__container] .button {
    margin: 0px auto;
    order: 3;
    margin-top: 10px;
  }
  [class*=__container] .menu__items {
    display: none;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0;
    margin: 0;
  }
  [class*=__container] .header__top {
    justify-content: center;
    align-items: center;
    display: flexbox;
    row-gap: 1px;
    max-height: 120px;
    margin-bottom: 15px;
  }
  [class*=__container] .icon-header {
    margin: 0px auto;
    order: 2;
  }
  [class*=__container] .title {
    padding-top: 20px;
    margin: 0px auto;
    font-size: 40px;
    order: 1;
  }
  [class*=__container] .button {
    margin: 0px auto;
    order: 3;
    margin-top: 0px;
  }
  [class*=__container] .icon {
    height: 35px;
  }
}
.content__container {
  overflow: hidden;
}

.first-page__news-items {
  flex-wrap: wrap;
  justify-content: space-around;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin: 0px auto;
  flex: 1 1 auto;
  padding-bottom: 10px;
  display: flex;
  align-items: start;
}

.news-cards-with-foto {
  flex: 0 1 33.33%;
  justify-content: center;
}

.page-news__item {
  margin-top: 10px;
}

.item-card-with-foto {
  display: flex;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 15px;
  justify-content: space-between;
  padding-top: 10px;
}

.item-card-with-foto__image {
  min-width: 245px;
}

.item-card-with-foto__image img {
  min-width: 100%;
}

.item-card-with-foto__content {
  min-width: 15%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title-card-with-foto {
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.item-card-with-foto__text {
  margin-top: 8px;
  flex-basis: auto;
  flex-grow: 1;
}

.text-card {
  font-size: 14px;
  line-height: 19px;
}

.item-card__date {
  margin-top: 5px;
  align-self: flex-start;
}

.date-item-card {
  padding-top: 15px;
  color: rgb(115, 115, 115);
  font-weight: 93px;
  line-height: 16px;
}

.item-page-news__big-cards {
  margin-top: 5px;
  flex: 0 1 41%;
}

.big-card__items {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  max-width: 630px;
}

.item-big-card {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.big-card__foto {
  padding-bottom: 5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.foto-big-card {
  max-width: 100%;
}

.big-card__title {
  margin-bottom: 8px;
}

.title-big-card {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.text-big-card {
  font-size: 14px;
  line-height: 19px;
}

.big-card__date {
  padding-top: 5px;
  color: rgb(115, 115, 115);
  font-weight: 93px;
  line-height: 16px;
  padding-bottom: 10px;
}

.news-cards {
  padding: 0px 0px 0px 5px;
  max-width: 25%;
  justify-content: space-around;
}

.news-cards__items {
  flex: 1 1 100%;
}

.news-card__item {
  padding-top: 2px;
}

.item-news-card {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.item-news-card__date {
  padding-top: 5px;
  color: rgb(115, 115, 115);
  font-weight: 93px;
  line-height: 16px;
  padding-bottom: 4px;
}

.item-news-card__text {
  font-family: "Noto Serif";
  padding-bottom: 16px;
}

.text-item-news-card {
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 1569.98px) {
  [class*=__container] {
    max-width: 95%;
  }
  .news-cards-with-foto {
    display: flex;
    flex: 0 1 100%;
  }
  .item-card-with-foto {
    flex-direction: column;
    padding: 0px 5px 0px 5px;
  }
  .item-card-with-foto__content {
    padding-left: 0px;
  }
  .date-item-card {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .item-page-news__big-cards {
    flex: 0 1 60%;
    padding-bottom: 5px;
  }
  .news-cards {
    flex: 0 1 40%;
    margin: 0 auto;
    max-width: 42%;
    padding-left: 3px;
  }
  .news-cards__items {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
}
@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
  .item-card-with-foto {
    margin-top: 0px;
  }
  .big-card__items {
    max-width: 100%;
    padding: 10px 10px 5px;
    justify-content: center;
  }
  .item-big-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
  }
  .foto-big-card {
    margin: 0 auto;
    flex: 0 1 auto;
  }
  .foto-big-card img {
    flex: 0 1 auto;
    max-width: 100%;
  }
  .news-cards {
    padding-top: 10px;
    max-width: 100%;
    flex: 1 1 auto;
  }
  .news-card__item {
    padding-top: 5px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0;
    margin: 0;
  }
  .news-cards-with-foto {
    flex-direction: column;
    padding-left: 10px;
  }
  .item-card-with-foto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0px;
  }
  .item-card-with-foto__image {
    flex: 0 1 50%;
  }
  .item-card-with-foto__content {
    flex: 0 1 50%;
  }
}
@media (max-width: 694.98px) {
  .item-card-with-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
  }
  .item-card-with-foto__image {
    min-width: 80%;
    margin: 0 auto;
  }
  .item-card-with-foto__image img {
    min-height: 100%;
  }
  .item-card-with-foto__content {
    max-width: 80%;
    overflow: hidden;
  }
}
.banner__foto {
  margin: 20px 0px 10px 0px;
  min-width: 320px;
}

.foto-banner__link img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.foto-banner:hover {
  border: 3px solid #000;
}

.second-page {
  padding-top: 5px;
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.second-page__video {
  padding-top: 10px;
  flex: 0 1 50%;
  padding-right: 10px;
  align-items: center;
}

.card-video {
  position: relative;
}

.card-video__video-file {
  width: 95%;
  height: 100%;
}

.card-video__video-file iframe {
  min-width: 765px;
  min-height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-video__video-info {
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  min-height: 15%;
  padding-left: 20px;
  padding-right: 10px;
}

.card-video__title {
  padding-top: 11px;
}

.card-video__date {
  padding-top: 7px;
  padding-bottom: 5px;
}

.second-page__cards {
  flex-wrap: nowrap;
  flex: 0 1 50%;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 1569.98px) {
  .second-page {
    flex-direction: column;
    box-sizing: border-box;
  }
  .second-page__video {
    flex: 0 1 100%;
    padding-bottom: 10px;
  }
  .second-page__cards {
    padding-top: 5px;
    justify-content: start;
    align-items: flex-start;
  }
  .item-card-with-foto {
    flex: 0 1 33.33%;
  }
}
@media (max-width: 767.98px) {
  .second-page__video {
    display: none;
  }
}
.third-page {
  margin-bottom: 15px;
  display: inline-flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.third-page__info-cards-with-photo {
  flex: 0 1 45%;
}

.third-page__info-cards {
  flex: 0 1 35%;
}

.block-blurb {
  flex: 0 1 30%;
  max-width: 100%;
  height: 100%;
}

.blurb__banner img {
  width: 100%;
}

@media (max-width: 1569.98px) {
  .third-page {
    flex-direction: column;
  }
}
.swiper {
  width: 600px;
  height: 300px;
}